.shop {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.shop-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px;
    grid-gap: 45px;
}

.cart-summery {
    background-color: #FFE0B3;
}